* {
    text-decoration: none;
    margin: 0;
  }
  .page {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    font: normal 400 11px/16px;
    color: #333;
    background-color: #fff;
  }
  .page .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 422px;
    padding: 0 36px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page .center .title {
    user-select: none;
    font-size: 32px;
    line-height: 125%;
    font-weight: 500;
    text-align: center;
    color: #000;
    max-width: 100vw;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }
  
  .page .center .email-password {
    width: 100%;
    color: #282828;
    display: block;
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 6px;
    height: 50px;
    line-height: normal;
    margin-bottom: 20px;
  }
  
  .center .login {
    height: 48px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
  }
  
  .page .center .sign {
    width: 100%;
    margin-top: 16px;
  }
  
  .page .center .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page .center .item a {
    font-size: 12px;
    cursor: pointer;
    color: #5551ff;
  }

  .page .center .light{
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .page .center .item a:hover{
      text-decoration:underline;
      background-color: #000;
  }
  